
// All Layout and main page element styles.
// Header
header {
  background: $light-grey;
  border-bottom: 1px solid $dark-grey;
  overflow: auto;
  min-height: 65px;
  position: relative;
  z-index: 10;
}
.l-branding {
  @include breakpoint($at-small) {
    float: left;
  }
  margin-top: 20px;
}
.site-name,
.site-slogan {
	display: none;
}

// Main
.l-contact,
.l-main,
.l-header-inner {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 15px;
  @include breakpoint($at-medium) {
    padding: 0 20px;
  }
}

.l-main {
  margin-top: 50px;
  position: relative;
}

.group-header {
  padding: 0 0 0 17px;
}

// basic page.
// .ds-2col-stacked {

//   .group-left,
//   .group-right {
//     padding: 0 0 0 17px;
//     @include breakpoint($upto-small) {
//       width: 100% !important;
//     }
//   }
// } 