
// Portfolio Grid
.view-id-portfolio {
  .view-content {
    @include breakpoint($at-small) {
      margin: 0 0 0 (-($grid-padding));
    }
    .views-row {
      width: 100%;
      margin-bottom: 20px;
      @include breakpoint($at-small) {
        width: 33.33333333333%;
        width: 25%;
        float: left;
        padding: 0 0 0 $grid-padding;
      }
      .field--name-field-project-image {
        margin-bottom: 7px;
      }
      h2 {
        margin: 0;
        font-size: 15px;
        font-family: $futura;
      }
    }
  }
}
.view-id-portfolio.view-display-id-block_1 {
  .views-row {
    @include breakpoint($at-medium) {
      width: 25%;
    }
  }
}
