@font-face {
  font-family: "ITCLubalinGraph";
  src: url("dba232c1-9c23-4a6c-aa91-659205e8e868.eot?#iefix");
  src: url("dba232c1-9c23-4a6c-aa91-659205e8e868.eot?#iefix") format("eot"), url("08d26b1f-edba-4c24-871e-8f265f017896.woff") format("woff"), url("1663715b-f83c-4958-8905-97cc579db28b.ttf") format("truetype"), url("43653318-4d8d-4e4b-8f04-c6e8cb975558.svg#43653318-4d8d-4e4b-8f04-c6e8cb975558") format("svg"); }

@font-face {
  font-family: "ITCLubalinGraph";
  src: url("1a827bfa-a29e-4c5e-b165-5479ac59b9c7.eot?#iefix");
  src: url("1a827bfa-a29e-4c5e-b165-5479ac59b9c7.eot?#iefix") format("eot"), url("38573a37-b9ec-4c73-a62d-e67fd8302001.woff") format("woff"), url("354fbfdd-b0d3-41c5-8d66-7bab3ac5353f.ttf") format("truetype"), url("55218bff-1e08-4229-8b9e-06528a4c0698.svg#55218bff-1e08-4229-8b9e-06528a4c0698") format("svg");
  font-style: italic; }

@font-face {
  font-family: "ITCLubalinGraph";
  src: url("cc99e9f2-4765-47e8-8e9e-f8afa7f45aa2.eot?#iefix");
  src: url("cc99e9f2-4765-47e8-8e9e-f8afa7f45aa2.eot?#iefix") format("eot"), url("59400685-dc94-4bda-8b78-cceef07d0471.woff") format("woff"), url("d8199ae6-f15d-4aad-b2c6-4fb6aa728384.ttf") format("truetype"), url("33772b07-3175-4e1c-9aca-009627307668.svg#33772b07-3175-4e1c-9aca-009627307668") format("svg");
  font-weight: bold; }

@font-face {
  font-family: "Futura";
  src: url("57a6731b-fa5c-4c8a-bea8-e2f1a287f309.eot?#iefix");
  src: url("57a6731b-fa5c-4c8a-bea8-e2f1a287f309.eot?#iefix") format("eot"), url("4d0e252c-d811-4a5d-a7f3-6ad72c6b76f2.woff") format("woff"), url("54250d43-02be-4ff9-b802-a4ea104a0611.ttf") format("truetype"), url("15c556fc-4608-4b01-8a0d-9c8631c8bd74.svg#15c556fc-4608-4b01-8a0d-9c8631c8bd74") format("svg"); }

@font-face {
  font-family: "Futura";
  src: url("012343a3-dfcf-47cb-a171-b6562b97cd14.eot?#iefix");
  src: url("012343a3-dfcf-47cb-a171-b6562b97cd14.eot?#iefix") format("eot"), url("5fa88c9e-299a-498c-8ddf-5dbcde40259f.woff") format("woff"), url("7a20f98f-c2a2-4899-819d-30535f0434c0.ttf") format("truetype"), url("c8dbed6c-5c46-48bf-ac93-386f24720591.svg#c8dbed6c-5c46-48bf-ac93-386f24720591") format("svg");
  font-style: italic; }

@font-face {
  font-family: "Futura";
  src: url("f0052336-792e-4fcf-8750-fe6d7d5dccba.eot?#iefix");
  src: url("f0052336-792e-4fcf-8750-fe6d7d5dccba.eot?#iefix") format("eot"), url("1b696b29-a6bd-4411-a50f-37fd8a209b36.woff") format("woff"), url("a3931c31-5998-4dbd-b7d5-d310e4ed3d60.ttf") format("truetype"), url("6779412d-2ea7-4f1a-acfd-f6a527baaee7.svg#6779412d-2ea7-4f1a-acfd-f6a527baaee7") format("svg");
  font-weight: bold; }

@font-face {
  font-family: "Futura";
  src: url("8f76015c-aba7-43cd-abd7-29232fdf55db.eot?#iefix");
  src: url("8f76015c-aba7-43cd-abd7-29232fdf55db.eot?#iefix") format("eot"), url("ea7214b2-6c5b-4a62-89df-594ba0d45149.woff") format("woff"), url("80472e52-6fc5-47d3-a433-23eb82a4805d.ttf") format("truetype"), url("c4b00a23-6dcd-4ac3-9c83-07e77640bdd4.svg#c4b00a23-6dcd-4ac3-9c83-07e77640bdd4") format("svg");
  font-weight: bold;
  font-style: italic; }

/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%;
  height: auto;
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/base\/_typography\.scss}line{font-family:\000032}}
body {
  background: #e2e3e4;
  color: #525254;
  font-family: "Futura", sans-serif;
  font-size: 15px;
  line-height: 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/base\/_typography\.scss}line{font-family:\0000311}}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
  line-height: 170%;
  font-family: "ITCLubalinGraph", Georgia, "Times New Roman", "DejaVu Serif", serif;
  color: #313131;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/base\/_typography\.scss}line{font-family:\0000320}}
h1,
h2.block__title {
  font-size: 20px;
  border-bottom: solid 1px #c2c3c3;
  margin: 0 0 20px;
  padding-bottom: 7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/base\/_typography\.scss}line{font-family:\0000327}}
p {
  margin: 0 0 10px;
  padding-bottom: 9px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/base\/_typography\.scss}line{font-family:\0000334}}
a,
a:link,
a:visited {
  color: #313131;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/base\/_typography\.scss}line{font-family:\0000338}}
  a:hover,
  a:link:hover,
  a:visited:hover {
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_contact\.scss}line{font-family:\000032}}
.l-contact {
  height: 1px;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_contact\.scss}line{font-family:\000037}}
  .l-contact.contact-open {
    height: 97px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_contact\.scss}line{font-family:\0000310}}
  .l-contact .contact-wrapper {
    margin: 40px 0 0 0;
    text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_contact\.scss}line{font-family:\0000317}}
    .l-contact .contact-wrapper .tel,
    .l-contact .contact-wrapper .email a {
      font-family: "ITCLubalinGraph", Georgia, "Times New Roman", "DejaVu Serif", serif;
      font-weight: bold;
      color: #313131;
      font-size: 22px;
      line-height: 28px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_contact\.scss}line{font-family:\0000324}}
    .l-contact .contact-wrapper a {
      text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_navigation\.scss}line{font-family:\000033}}
.l-region--navigation {
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_navigation\.scss}line{font-family:\0000310}}
  .l-region--navigation #block-system-main-menu ul.menu {
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_navigation\.scss}line{font-family:\0000313}}
    .l-region--navigation #block-system-main-menu ul.menu li {
      list-style: none;
      display: block;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_navigation\.scss}line{font-family:\0000320}}
      .l-region--navigation #block-system-main-menu ul.menu li a {
        font-family: "ITCLubalinGraph", Georgia, "Times New Roman", "DejaVu Serif", serif;
        padding: 20px 15px;
        display: block;
        text-transform: uppercase;
        color: #a5a8a8;
        font-size: 14px;
        text-decoration: none;
        letter-spacing: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_navigation\.scss}line{font-family:\0000329}}
        .l-region--navigation #block-system-main-menu ul.menu li a:hover {
          color: #313131; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_navigation\.scss}line{font-family:\0000332}}
        .l-region--navigation #block-system-main-menu ul.menu li a.active {
          color: #313131; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_navigation\.scss}line{font-family:\0000336}}
      .l-region--navigation #block-system-main-menu ul.menu li.last {
        border-right: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_navigation\.scss}line{font-family:\0000339}}
      .l-region--navigation #block-system-main-menu ul.menu li.last.active {
        background: #e2e3e4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_navigation\.scss}line{font-family:\0000341}}
        .l-region--navigation #block-system-main-menu ul.menu li.last.active a {
          color: #313131; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_navigation\.scss}line{font-family:\0000369}}
.burger-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  display: block;
  cursor: pointer;
  width: 27px;
  height: 27px;
  background: url(../images/burger-btn.png) 0px 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_page\.scss}line{font-family:\000034}}
header {
  background: #f4f4f4;
  border-bottom: 1px solid #c2c3c3;
  overflow: auto;
  min-height: 65px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_page\.scss}line{font-family:\0000311}}
.l-branding {
  margin-top: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_page\.scss}line{font-family:\0000318}}
.site-name,
.site-slogan {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_page\.scss}line{font-family:\0000325}}
.l-contact,
.l-main,
.l-header-inner {
  margin: 0 auto;
  max-width: 1024px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_page\.scss}line{font-family:\0000333}}
.l-main {
  margin-top: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_project\.scss}line{font-family:\000033}}
.node-type-project .l-content > h1 {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_project\.scss}line{font-family:\000037}}
.node-type-project .l-main {
  margin-top: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_project\.scss}line{font-family:\0000311}}
.node--project--full {
  margin: 0 0 15px -17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_project\.scss}line{font-family:\0000314}}
  .node--project--full .group-left,
  .node--project--full .group-right {
    padding: 0 0 0 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_project\.scss}line{font-family:\0000325}}
  .node--project--full .field--name-field-project-link {
    margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_project\.scss}line{font-family:\0000327}}
    .node--project--full .field--name-field-project-link a {
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_project\.scss}line{font-family:\0000329}}
      .node--project--full .field--name-field-project-link a:hover {
        text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_project\.scss}line{font-family:\0000337}}
.field--name-field-my-role .field__label {
  font-family: "ITCLubalinGraph", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-size: 13px;
  color: #313131; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_project\.scss}line{font-family:\0000342}}
.field--name-field-my-role .field__item {
  background: #d5d5d7;
  float: left;
  padding: 3px 7px;
  margin: 0 5px 5px 0;
  font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_project\.scss}line{font-family:\0000355}}
.field--name-field-project-image a,
.node--full.node--project--full .group-left a {
  display: block;
  padding: 0;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_views\.scss}line{font-family:\000038}}
.view-id-portfolio .view-content .views-row {
  width: 100%;
  margin-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_views\.scss}line{font-family:\0000319}}
  .view-id-portfolio .view-content .views-row .field--name-field-project-image {
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/portfolio\/sites\/all\/themes\/portfolio\/sass\/components\/_views\.scss}line{font-family:\0000322}}
  .view-id-portfolio .view-content .views-row h2 {
    margin: 0;
    font-size: 15px;
    font-family: "Futura", sans-serif; }
