
// Breakpoint
$at-small:         min-width  615px;
$at-medium:        min-width  1024px;
$at-large:         min-width  1100px;

$upto-small:       max-width  615px;
$upto-medium:      max-width  1024px;
$upto-large:       max-width  1100px;


// Grid padding
$grid-padding:     17px;

